In [78]:
import pandas as pd
import numpy as np

df = pd.read_csv('../data/processed/cars_60k.csv')
print(df.head())

     car_id  prod_year  man_id  model_id  price  predicted_price  \
0  74874053       2010       3       103   9300          32436.0
1  74037205       2018       3        94  43000         132836.0
2  74784297       2016     155      1719  38900         145192.0
3  74836637       2021      23      6399  99999         142446.0
4  74912421       2011      41      1109  35000          84180.0

   pred_min_price  pred_max_price  fuel_type_id  gear_type_id  ...  has_turbo  \
0        17515.44        62277.12             3             3  ...       True
1             NaN             NaN             2             3  ...       True
2             NaN             NaN             7             2  ...      False
3             NaN             NaN             2             2  ...      False
4        45457.20       161625.60             2             2  ...      False

   right_wheel  vehicle_type  category_id   views saloon_material_id  \
0        False             0            5   210.0                  1
1        False             0            1  4311.0                  1
2        False             0            1  1406.0                  5
3        False             0            1  1266.0                  1
4        False             0            5   474.0                  2

  start_stop back_camera user_type  \
0      False       False         0
1      False        True         0
2      False        True         0
3       True        True         0
4      False        True         0

                                    comfort_features
0  [6, 44, 11, 20, 12, 30, 31, 7, 8, 38, 28, 29, ...
1  [6, 44, 11, 20, 12, 30, 31, 7, 8, 38, 28, 29, ...
2  [6, 44, 11, 12, 30, 31, 7, 8, 38, 28, 29, 9, 1...
3  [6, 44, 11, 20, 12, 30, 31, 7, 8, 38, 28, 29, ...
4  [6, 44, 11, 20, 12, 30, 31, 7, 8, 38, 28, 29, ...

[5 rows x 35 columns]

C:\Users\admin\AppData\Local\Temp\ipykernel_13020\2974802155.py:4: DtypeWarning: Columns (15,16,17,18,19,20,21,22,23,24,25,26,31,32) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('../data/processed/cars_60k.csv')

In [79]:
def fill_missing_by_model_id(df):
    # columns to impute: numeric -> median, categorical -> mode
    IMPUTE_CONFIG = {
        'engine_volume': 'median',
        'cylinders': 'mode',
        'drive_type_id': 'mode',
        'fuel_type_id': 'mode',
        'gear_type_id': 'mode',
    }

    GROUP_COLS = ['man_id', 'model_id']

    for col, method in IMPUTE_CONFIG.items():

        # model-level statistic
        if method == 'median':
            stat_model = (
                df.dropna(subset=[col])
                  .groupby(GROUP_COLS)[col]
                  .median()
            )
        else:  # mode
            stat_model = (
                df.dropna(subset=[col])
                  .groupby(GROUP_COLS)[col]
                  .agg(lambda x: x.mode().iloc[0])
            )

        # merge model-level values
        df = df.merge(
            stat_model.rename(f'{col}_model_stat'),
            on=GROUP_COLS,
            how='left'
        )

        # fill from model-level
        df[col] = df[col].fillna(df[f'{col}_model_stat'])

        # cleanup
        df = df.drop(columns=[f'{col}_model_stat'])

    return df

In [80]:
cols = df.columns

numeric_cols = df.select_dtypes(include=['number']).columns
categorical_cols = df.select_dtypes(exclude=['number']).columns

print(numeric_cols)
print(categorical_cols)

df[numeric_cols] = df[numeric_cols].mask(df[numeric_cols] == 0, np.nan)

#print(df.isnull().sum())

print(len(df[df['price'].isna() & df['pred_min_price'].isna() & df['pred_max_price'].isna() & df['predicted_price'].isna()]))

def handle_missing(df):
    df = df.dropna(subset=['prod_year', 'model_id'])
    df = df.dropna(
        subset=['price', 'pred_min_price', 'pred_max_price', 'predicted_price'],
        how='all'
    )

    df['price'] = df['price'].fillna(df['predicted_price'])
    df['predicted_price'] = df['predicted_price'].fillna(df['price'])
    df['color_id'] = df['color_id'].fillna(df['color_id'].mode()[0])

    df = fill_missing_by_model_id(df)
    df = df.dropna(subset=['gear_type_id', 'drive_type_id', 'cylinders', 'engine_volume'])
    df['car_run_km'] = df['car_run_km'].fillna(0)
    df['user_type'] = df['user_type'].fillna(0)
    df['vehicle_type'] = df['vehicle_type'].fillna(0)
    df = df.dropna(subset=['comfort_features'])

    return df

def normalize_boolean(series):
    return (series.astype(str).str.strip().str.lower()
        .map({
            'true': 1,
            '1': 1,
            'yes': 1,

            'false': 0,
            '0': 0,
            'no': 0,
        })
    )

df = handle_missing(df)

for col in categorical_cols:
    if col != 'comfort_features':
        df[col] = normalize_boolean(df[col])

print(df.isnull().sum())
print(len(df))

for col in categorical_cols:
    print(f"\n{df[col].value_counts()}\n")

Index(['car_id', 'prod_year', 'man_id', 'model_id', 'price', 'predicted_price',
       'pred_min_price', 'pred_max_price', 'fuel_type_id', 'gear_type_id',
       'drive_type_id', 'color_id', 'cylinders', 'car_run_km', 'engine_volume',
       'vehicle_type', 'category_id', 'views', 'saloon_material_id',
       'user_type'],
      dtype='object')
Index(['abs', 'esd', 'el_windows', 'conditioner', 'leather', 'hydraulics',
       'chair_warming', 'climat_control', 'customs_passed', 'tech_inspection',
       'has_turbo', 'right_wheel', 'start_stop', 'back_camera',
       'comfort_features'],
      dtype='object')
24605
car_id                   0
prod_year                0
man_id                   0
model_id                 0
price                    0
predicted_price          0
pred_min_price        2563
pred_max_price        2563
fuel_type_id             0
gear_type_id             0
drive_type_id            0
color_id                 0
cylinders                0
car_run_km               0
engine_volume            0
abs                      0
esd                      0
el_windows               0
conditioner              0
leather                  0
hydraulics               0
chair_warming            0
climat_control           0
customs_passed           0
tech_inspection          0
has_turbo                0
right_wheel              0
vehicle_type             0
category_id              0
views                  478
saloon_material_id    4184
start_stop               0
back_camera              0
user_type                0
comfort_features         0
dtype: int64
34527

abs
1    29928
0     4599
Name: count, dtype: int64


esd
1    26262
0     8265
Name: count, dtype: int64


el_windows
1    29522
0     5005
Name: count, dtype: int64


conditioner
1    28382
0     6145
Name: count, dtype: int64


leather
0    32009
1     2518
Name: count, dtype: int64


hydraulics
1    30190
0     4337
Name: count, dtype: int64


chair_warming
1    17988
0    16539
Name: count, dtype: int64


climat_control
1    24702
0     9825
Name: count, dtype: int64


customs_passed
1    21940
0    12587
Name: count, dtype: int64


tech_inspection
1    27578
0     6949
Name: count, dtype: int64


has_turbo
0    28865
1     5662
Name: count, dtype: int64


right_wheel
0    29980
1     4547
Name: count, dtype: int64


start_stop
0    33237
1     1290
Name: count, dtype: int64


back_camera
0    18206
1    16321
Name: count, dtype: int64


comfort_features
[6, 44, 11, 20, 12, 30, 31, 7, 8, 38, 28, 29, 9, 10, 23, 13, 15, 26, 36, 39, 41, 43, 45]        2964
[]                                                                                              2839
[6, 44, 11, 20, 12, 30, 31, 7, 8, 38, 28, 29, 9, 10, 23, 53]                                    2518
[6, 44, 11, 20, 12, 30, 31, 7, 8, 38, 28, 29, 9, 10, 47, 23, 13, 15, 26, 36, 39, 41, 43, 45]    1120
[6, 44, 11, 12, 30, 31, 7, 8, 38, 28, 29, 9, 10, 23, 13, 15, 26, 36, 39, 41, 43, 45]             646
                                                                                                ...
[6, 44, 11, 12, 30, 7, 8, 38, 28, 29, 10, 13, 15, 36, 39, 41]                                      1
[6, 44, 11, 12, 30, 28, 26, 39, 45]                                                                1
[6, 44, 11, 12, 30, 8, 28, 29, 47, 36, 39, 41]                                                     1
[6, 44, 11, 30, 8, 28, 10, 39, 41, 43, 45]                                                         1
[6, 44, 11, 20, 30, 31, 8, 28, 29, 47, 23, 43, 45]                                                 1
Name: count, Length: 11282, dtype: int64