In [2]:
import pandas as pd

df = pd.read_csv("../data/processed/cars_60k.csv")
#print(df.head())
# column list
print(len(df.columns.tolist()))
# number of rows and columns
# print(df.shape)
# # summary statistics
# print(df.describe())
# check for missing values 
# print(df.isnull().sum())

# numeric columns statistics
numeric_cols = df.select_dtypes(include=['number']).columns
# print(df[numeric_cols].describe())
# categorical columns statistics
categorical_cols = df.select_dtypes(include=['object']).columns
for col in categorical_cols:
    print(f"\nColumn: {col}")
    print(df[col].value_counts())

df.head(1)

31

Column: abs
abs
True     18125
False    16701
False    14643
True     11860
0            1
Name: count, dtype: int64

Column: esd
esd
False    18397
False    16618
True     16150
True     10164
0            1
Name: count, dtype: int64

Column: el_windows
el_windows
True     17919
False    16901
False    14849
True     11660
0            1
Name: count, dtype: int64

Column: conditioner
conditioner
False    17399
True     17277
False    15491
True     11162
0            1
Name: count, dtype: int64

Column: leather
leather
False    30367
False    28443
True      2401
True       118
0            1
Name: count, dtype: int64

Column: hydraulics
hydraulics
True     18258
False    16571
False    14510
True     11990
0            1
Name: count, dtype: int64

Column: chair_warming
chair_warming
False    21904
False    21412
True     11356
True      6657
0            1
Name: count, dtype: int64

Column: climat_control
climat_control
False    19021
False    17550
True     15218
True      9540
0            1
Name: count, dtype: int64

Column: customs_passed
customs_passed
False    19741
False    18369
True     13027
True     10192
0            1
Name: count, dtype: int64

Column: tech_inspection
tech_inspection
False    17052
False    16600
True     15716
True     11961
2            1
Name: count, dtype: int64

Column: has_turbo
has_turbo
False    29553
False    26114
True      3215
True      2447
1            1
Name: count, dtype: int64

Column: right_wheel
right_wheel
False    30235
False    26518
True      2533
True      2043
0            1
Name: count, dtype: int64

Column: start_stop
start_stop
False    31950
False    28089
True       818
True       472
0            1
Name: count, dtype: int64

Column: back_camera
back_camera
False    22753
False    22209
True     10559
True      5808
0            1
Name: count, dtype: int64

Column: comfort_features
comfort_features
[]                                                                                                            29572
[6, 44, 11, 20, 12, 30, 31, 7, 8, 38, 28, 29, 9, 10, 23, 13, 15, 26, 36, 39, 41, 43, 45]                       2971
[6, 44, 11, 20, 12, 30, 31, 7, 8, 38, 28, 29, 9, 10, 23, 53]                                                   2519
[6, 44, 11, 20, 12, 30, 31, 7, 8, 38, 28, 29, 9, 10, 47, 23, 13, 15, 26, 36, 39, 41, 43, 45]                   1120
[6, 44, 11, 12, 30, 31, 7, 8, 38, 28, 29, 9, 10, 23, 13, 15, 26, 36, 39, 41, 43, 45]                            648
                                                                                                              ...
[20, 12, 30, 31, 38, 28, 29, 23, 13, 36, 39]                                                                      1
[6, 11, 12, 30, 31, 7, 38, 28, 29, 9, 10, 15, 6, 7, 9, 10, 11, 12, 15, 28, 29, 30, 31, 36, 38, 39, 41, 45]        1
[6, 44, 11, 12, 30, 31, 7, 8, 38, 28, 29, 9, 10, 13, 15, 36, 41, 43, 45]                                          1
[6, 11, 12, 8, 36, 43, 45]                                                                                        1
[6, 44, 11, 30, 31, 8, 28, 9, 13, 26, 36, 39, 41, 43, 45]                                                         1
Name: count, Length: 11291, dtype: int64

/var/folders/yk/_pxs4k190zv7qyl1d8qf38x00000gn/T/ipykernel_8566/2515243095.py:3: DtypeWarning: Columns (13,14,15,16,17,18,19,20,21,22,23,24,27,28) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("../data/processed/cars_60k.csv")

,car_id,prod_year,man_id,model_id,price,predicted_price,fuel_type_id,gear_type_id,drive_type_id,color_id,...,customs_passed,tech_inspection,has_turbo,right_wheel,vehicle_type,category_id,start_stop,back_camera,user_type,comfort_features
0,74874053,2010,3,103,9300,32436.0,3,3,3,13,...,True,True,True,False,0,5,False,False,0,"[6, 44, 11, 20, 12, 30, 31, 7, 8, 38, 28, 29, ..."

In [3]:


cols = [
    'car_id', 
    'status_id', 
    'user_id', 
    'dealer_user_id', 
    'paid_add', 
    'photo', 
    'pic_number', 
    'prod_year', 
    'prod_month', 
    'man_id', 
    'car_model', 
    'price', 
    'first_deposit', 
    'price_value', 
    'fuel_type_id', 
    'gear_type_id', 
    'drive_type_id', 
    'door_type_id', 
    'color_id', 
    'saloon_color_id', 
    'cylinders', 
    'car_run', 
    'car_run_km', 
    'car_run_dim', 
    'engine_volume', 
    'airbags', 
    'abs', 
    'esd', 
    'el_windows', 
    'conditioner', 
    'leather', 
    'disks', 
    'nav_system', 
    'central_lock', 
    'hatch', 
    'right_wheel', 
    'alarm', 
    'board_comp', 
    'hydraulics', 
    'chair_warming', 
    'climat_control',
    'obstacle_indicator', 
    'customs_passed', 
    'client_name', 
    'client_phone', 
    'model_id', 
    'location_id', 
    'parent_loc_id', 
    'tech_inspection', 
    'checked_for_duplicates', 
    'order_number', 
    'stickers', 
    'changable', 
    'auction', 
    'has_turbo', 
    'for_rent', 
    'rent_daily', 
    'rent_purchase', 
    'rent_insured', 
    'rent_driver', 
    'currency_id', 
    'vehicle_type', 
    'category_id', 
    'vin', 
    'user_type', 
    'prom_color', 
    'special_persons', 
    'back_camera', 
    'car_desc', 
    'order_date', 
    'video_url', 
    'hp', 
    'hours_used', 
    'photo_ver', 
    'checked', 
    'lang_type_id', 
    'el_starter', 
    'start_stop', 
    'trunk', 
    'windshield', 
    'inspected_in_greenway', 
    'license_number', 
    'words_checked', 
    'is_payd', 
    'condition_type_id', 
    'primary_damage_type', 
    'secondary_damage_type', 
    'auction_has_key', 
    'is_auction', 
    'saloon_material_id', 
    'map_lat', 
    'map_long', 
    'zoom', 
    'predicted_price', 
    'hdd', 
    'map_title', 
    'dealer_name', 
    'call_hour_from', 
    'call_hour_to', 
    'active_ads', 
    'autosalon_id', 
    'old_price', 
    'price_drop', 
    'end_date', 
    'views', 
    'fuel_consumption_city', 
    'fuel_consumption_highway', 
    'fuel_consumption_combined', ''
    'user_prs_cnt', 
    'has_predicted_price', 
    'pred_first_breakpoint', 
    'pred_second_breakpoint', 
    'pred_min_price', 
    'pred_max_price', 
    'car_descrs', 
    'productStickers', 
    'comfort_features', 
    'call_time_info']

print(f"Total columns: {len(cols)}")



good_cols = [
    'car_id', 
    'prod_year',
    'man_id',
    'model_id',
    'price',
    'predicted_price',
    'pred_min_price',
    'pred_max_price',
    'fuel_type_id', 
    'gear_type_id', 
    'drive_type_id',
    'color_id',
    'cylinders',
    'car_run_km',
    'engine_volume',
    'abs', 
    'esd', 
    'el_windows', 
    'conditioner', 
    'leather',
    'hydraulics', 
    'chair_warming', 
    'climat_control',
    'customs_passed',
    'tech_inspection',
    'has_turbo',
    'right_wheel', 
    'vehicle_type', 
    'category_id',
    'views',
    'saloon_material_id',
    'start_stop',
    'back_camera',
    'user_type',  # 1= dealer, 2= private
    'comfort_features',
]
print(len(good_cols))
# print(df["pred_max_price"].head(5))
# df["p_avg"] = (df["pred_min_price"] + df["pred_max_price"])/2
# print(df[["price", "price_value", "p_avg"]].head(5))

df['car_model'].value_counts()

Total columns: 118
35

KeyError: 'car_model'

In [ ]:
# test json 

json_dir = '../id_mappings/id_mappings.json'
import json

with open(json_dir, 'r') as f:
    data = json.load(f)
    print(data['vehicle_category_mappings'])
    print(data['manufacturer_mappings'])
    print(data['location_mappings'])
    print(data['transmission_type_mappings'])
    print(data['color_mappings'])
    print(data['drive_type_mappings'])
    #print(data['fuel_type_mappings'])

[{'category_id': 1, 'title': 'Sedan', 'vehicle_types': [0]}, {'category_id': 5, 'title': 'Jeep', 'vehicle_types': [0]}, {'category_id': 4, 'title': 'Coupe', 'vehicle_types': [0]}, {'category_id': 2, 'title': 'Hatchback', 'vehicle_types': [0]}, {'category_id': 3, 'title': 'Universal', 'vehicle_types': [0]}, {'category_id': 6, 'title': 'Cabriolet', 'vehicle_types': [0]}, {'category_id': 29, 'title': 'Pickup', 'vehicle_types': [0]}, {'category_id': 30, 'title': 'Minivan', 'vehicle_types': [0]}, {'category_id': 15, 'title': 'Limousine', 'vehicle_types': [0]}, {'category_id': 66, 'title': 'Сrossover', 'vehicle_types': [0]}, {'category_id': 36, 'title': 'Semi-trailer truck', 'vehicle_types': [1]}, {'category_id': 16, 'title': 'Truck', 'vehicle_types': [1]}, {'category_id': 38, 'title': 'Dump truck', 'vehicle_types': [1]}, {'category_id': 27, 'title': 'Agricultural', 'vehicle_types': [1]}, {'category_id': 23, 'title': 'Cranes', 'vehicle_types': [1]}, {'category_id': 25, 'title': 'Excavators', 'vehicle_types': [1]}, {'category_id': 20, 'title': 'Custom machinery', 'vehicle_types': [1]}, {'category_id': 19, 'title': 'Trailer', 'vehicle_types': [1]}, {'category_id': 28, 'title': 'Loader', 'vehicle_types': [1]}, {'category_id': 42, 'title': 'Concrete pump truck', 'vehicle_types': [1]}, {'category_id': 37, 'title': 'Road', 'vehicle_types': [1]}, {'category_id': 44, 'title': 'Warehouse truck', 'vehicle_types': [1]}, {'category_id': 43, 'title': 'Compact loader', 'vehicle_types': [1]}, {'category_id': 40, 'title': 'Steam roller', 'vehicle_types': [1]}, {'category_id': 14, 'title': 'Bus', 'vehicle_types': [1]}, {'category_id': 39, 'title': 'Land grader and leveller', 'vehicle_types': [1]}, {'category_id': 45, 'title': 'Refrigerator truck', 'vehicle_types': [1]}, {'category_id': 50, 'title': 'Evacuator', 'vehicle_types': [1]}, {'category_id': 53, 'title': 'Concrete truck', 'vehicle_types': [1]}, {'category_id': 24, 'title': 'Bulldozers', 'vehicle_types': [1]}, {'category_id': 26, 'title': 'Construction', 'vehicle_types': [1]}, {'category_id': 48, 'title': 'Goods wagon', 'vehicle_types': [1]}, {'category_id': 35, 'title': 'Commercial car', 'vehicle_types': [1]}, {'category_id': 41, 'title': 'Alternator', 'vehicle_types': [1]}, {'category_id': 57, 'title': 'Camper', 'vehicle_types': [1]}, {'category_id': 65, 'title': 'Fuel truck', 'vehicle_types': [1]}, {'category_id': 61, 'title': 'Trailer camper', 'vehicle_types': [1]}, {'category_id': 49, 'title': 'Hydraulic hammer', 'vehicle_types': [1]}, {'category_id': 71, 'title': 'Cement Trucks', 'vehicle_types': [1]}, {'category_id': 75, 'title': 'Crane-basket', 'vehicle_types': [1]}, {'category_id': 79, 'title': 'Sewerage Truck', 'vehicle_types': [1]}, {'category_id': 89, 'title': 'fast-food truck', 'vehicle_types': [1]}, {'category_id': 93, 'title': 'Water carrier truck', 'vehicle_types': [1]}, {'category_id': 95, 'title': 'Microbus', 'vehicle_types': [1]}, {'category_id': 103, 'title': 'Crane-manipulator', 'vehicle_types': [1]}, {'category_id': 17, 'title': 'Motorcycle', 'vehicle_types': [2]}, {'category_id': 31, 'title': 'Scooter', 'vehicle_types': [2]}, {'category_id': 33, 'title': 'Quad bike', 'vehicle_types': [2]}, {'category_id': 21, 'title': 'Water transport', 'vehicle_types': [2]}, {'category_id': 47, 'title': 'Tricycle', 'vehicle_types': [2]}, {'category_id': 46, 'title': 'Buggy', 'vehicle_types': [2]}, {'category_id': 32, 'title': 'Snowmobile', 'vehicle_types': [2]}, {'category_id': 83, 'title': 'Trailer for boat', 'vehicle_types': [2]}, {'category_id': 87, 'title': 'Trailer for motorcycle', 'vehicle_types': [2]}, {'category_id': 99, 'title': 'Karting-car', 'vehicle_types': [2]}]
[{'man_id': 473, 'title': ' Arcfox', 'vehicle_types': [0]}, {'man_id': 70, 'title': 'Acura', 'vehicle_types': [0]}, {'man_id': 642, 'title': 'Aion', 'vehicle_types': [0]}, {'man_id': 1355, 'title': 'AIQAR', 'vehicle_types': [0]}, {'man_id': 1467, 'title': 'Aito', 'vehicle_types': [0]}, {'man_id': 1, 'title': 'Alfa Romeo', 'vehicle_types': [0]}, {'man_id': 441, 'title': 'AMC', 'vehicle_types': [0]}, {'man_id': 76, 'title': 'Aston Martin', 'vehicle_types': [0]}, {'man_id': 2, 'title': 'Audi', 'vehicle_types': [0]}, {'man_id': 1503, 'title': 'Avatar', 'vehicle_types': [0]}, {'man_id': 1181, 'title': 'Avatr', 'vehicle_types': [0]}, {'man_id': 400, 'title': 'Baic', 'vehicle_types': [0]}, {'man_id': 1499, 'title': 'Baojun', 'vehicle_types': [0]}, {'man_id': 1521, 'title': 'Baw', 'vehicle_types': [0, 1]}, {'man_id': 78, 'title': 'Bentley', 'vehicle_types': [0]}, {'man_id': 1552, 'title': 'Bertone', 'vehicle_types': [0]}, {'man_id': 3, 'title': 'BMW', 'vehicle_types': [0, 2]}, {'man_id': 207, 'title': 'Brilliance', 'vehicle_types': [0]}, {'man_id': 374, 'title': 'Bugatti', 'vehicle_types': [0]}, {'man_id': 69, 'title': 'Buick', 'vehicle_types': [0]}, {'man_id': 87, 'title': 'BYD', 'vehicle_types': [0, 1]}, {'man_id': 4, 'title': 'Cadillac', 'vehicle_types': [0]}, {'man_id': 161, 'title': 'Changan', 'vehicle_types': [0, 1]}, {'man_id': 90, 'title': 'Changfeng', 'vehicle_types': [0]}, {'man_id': 84, 'title': 'Chery', 'vehicle_types': [0]}, {'man_id': 5, 'title': 'Chevrolet', 'vehicle_types': [0, 1]}, {'man_id': 6, 'title': 'Chrysler', 'vehicle_types': [0]}, {'man_id': 7, 'title': 'Citroen', 'vehicle_types': [0, 1]}, {'man_id': 237, 'title': 'CPI', 'vehicle_types': [0, 2]}, {'man_id': 457, 'title': 'Dacia', 'vehicle_types': [0, 1]}, {'man_id': 8, 'title': 'Daewoo', 'vehicle_types': [0, 1]}, {'man_id': 9, 'title': 'Daihatsu', 'vehicle_types': [0, 1]}, {'man_id': 537, 'title': 'Datsun', 'vehicle_types': [0]}, {'man_id': 1237, 'title': 'Dayun', 'vehicle_types': [0, 2]}, {'man_id': 244, 'title': 'DM Telai', 'vehicle_types': [0, 2]}, {'man_id': 10, 'title': 'Dodge', 'vehicle_types': [0, 1]}, {'man_id': 146, 'title': 'Dongfeng', 'vehicle_types': [0, 1]}, {'man_id': 778, 'title': 'DS Automobiles', 'vehicle_types': [0]}, {'man_id': 991, 'title': 'Exeed', 'vehicle_types': [0]}, {'man_id': 360, 'title': 'FAW', 'vehicle_types': [0, 1]}, {'man_id': 74, 'title': 'Ferrari', 'vehicle_types': [0]}, {'man_id': 11, 'title': 'Fiat', 'vehicle_types': [0, 1]}, {'man_id': 183, 'title': 'Fisker', 'vehicle_types': [0]}, {'man_id': 12, 'title': 'Ford', 'vehicle_types': [0, 1]}, {'man_id': 1347, 'title': 'Forthing', 'vehicle_types': [0]}, {'man_id': 143, 'title': 'Foton', 'vehicle_types': [0, 1]}, {'man_id': 1588, 'title': 'GAC', 'vehicle_types': [0]}, {'man_id': 45, 'title': 'GAZ', 'vehicle_types': [0, 1]}, {'man_id': 89, 'title': 'Geely', 'vehicle_types': [0]}, {'man_id': 577, 'title': 'Genesis', 'vehicle_types': [0]}, {'man_id': 13, 'title': 'GMC', 'vehicle_types': [0, 1]}, {'man_id': 1287, 'title': 'Gonow', 'vehicle_types': [0]}, {'man_id': 138, 'title': 'Great wall', 'vehicle_types': [0]}, {'man_id': 130, 'title': 'Hafei', 'vehicle_types': [0, 1]}, {'man_id': 176, 'title': 'Haval', 'vehicle_types': [0]}, {'man_id': 639, 'title': 'Hiphi', 'vehicle_types': [0]}, {'man_id': 14, 'title': 'Honda', 'vehicle_types': [0, 1, 2]}, {'man_id': 485, 'title': 'Hongqi', 'vehicle_types': [0]}, {'man_id': 489, 'title': 'Huawei', 'vehicle_types': [0]}, {'man_id': 1177, 'title': 'Huawei Inside', 'vehicle_types': [0]}, {'man_id': 15, 'title': 'Hummer', 'vehicle_types': [0]}, {'man_id': 1646, 'title': 'Hycan', 'vehicle_types': [0]}, {'man_id': 167, 'title': 'Hyster', 'vehicle_types': [0, 1, 2]}, {'man_id': 16, 'title': 'Hyundai', 'vehicle_types': [0, 1, 2]}, {'man_id': 1351, 'title': 'IM Motors', 'vehicle_types': [0]}, {'man_id': 53, 'title': 'Infiniti', 'vehicle_types': [0]}, {'man_id': 422, 'title': 'Iran Khodro', 'vehicle_types': [0]}, {'man_id': 17, 'title': 'Isuzu', 'vehicle_types': [0, 1]}, {'man_id': 62, 'title': 'Iveco', 'vehicle_types': [0, 1]}, {'man_id': 1249, 'title': 'Izh', 'vehicle_types': [0, 1, 2]}, {'man_id': 85, 'title': 'JAC', 'vehicle_types': [0, 1]}, {'man_id': 18, 'title': 'Jaguar', 'vehicle_types': [0]}, {'man_id': 19, 'title': 'Jeep', 'vehicle_types': [0]}, {'man_id': 635, 'title': 'Jetour', 'vehicle_types': [0]}, {'man_id': 159, 'title': 'Karsan', 'vehicle_types': [0, 1]}, {'man_id': 20, 'title': 'Kia', 'vehicle_types': [0, 1]}, {'man_id': 73, 'title': 'Lamborghini', 'vehicle_types': [0]}, {'man_id': 21, 'title': 'Lancia', 'vehicle_types': [0]}, {'man_id': 22, 'title': 'Land Rover', 'vehicle_types': [0]}, {'man_id': 1455, 'title': 'Leapmotor', 'vehicle_types': [0]}, {'man_id': 23, 'title': 'Lexus', 'vehicle_types': [0]}, {'man_id': 162, 'title': 'Lifan', 'vehicle_types': [0, 1, 2]}, {'man_id': 58, 'title': 'Lincoln', 'vehicle_types': [0]}, {'man_id': 615, 'title': 'Linde', 'vehicle_types': [0, 1]}, {'man_id': 493, 'title': 'Lixiang', 'vehicle_types': [0]}, {'man_id': 401, 'title': 'Lonking', 'vehicle_types': [0, 1]}, {'man_id': 341, 'title': 'Lotus', 'vehicle_types': [0]}, {'man_id': 377, 'title': 'LTI', 'vehicle_types': [0]}, {'man_id': 1556, 'title': 'Lucid', 'vehicle_types': [0]}, {'man_id': 1261, 'title': 'Lynk & Co', 'vehicle_types': [0]}, {'man_id': 1443, 'title': 'Mahindra', 'vehicle_types': [0]}, {'man_id': 75, 'title': 'Maserati', 'vehicle_types': [0]}, {'man_id': 1479, 'title': 'Maxus', 'vehicle_types': [0, 1]}, {'man_id': 80, 'title': 'Maybach', 'vehicle_types': [0]}, {'man_id': 24, 'title': 'Mazda', 'vehicle_types': [0, 1]}, {'man_id': 403, 'title': 'Mclaren', 'vehicle_types': [0]}, {'man_id': 25, 'title': 'Mercedes-Benz', 'vehicle_types': [0, 1]}, {'man_id': 26, 'title': 'Mercury', 'vehicle_types': [0, 2]}, {'man_id': 166, 'title': 'MG', 'vehicle_types': [0]}, {'man_id': 28, 'title': 'Mini', 'vehicle_types': [0]}, {'man_id': 29, 'title': 'Mitsubishi', 'vehicle_types': [0, 1]}, {'man_id': 553, 'title': 'Mitsuoka', 'vehicle_types': [0]}, {'man_id': 48, 'title': 'Moskvich', 'vehicle_types': [0]}, {'man_id': 1411, 'title': 'MPM', 'vehicle_types': [0]}, {'man_id': 814, 'title': 'Neta', 'vehicle_types': [0]}, {'man_id': 179, 'title': 'Niewiadow', 'vehicle_types': [0, 1, 2]}, {'man_id': 603, 'title': 'NIO', 'vehicle_types': [0]}, {'man_id': 30, 'title': 'Nissan', 'vehicle_types': [0, 1]}, {'man_id': 56, 'title': 'Oldsmobile', 'vehicle_types': [0]}, {'man_id': 1439, 'title': 'OMODA', 'vehicle_types': [0]}, {'man_id': 31, 'title': 'Opel', 'vehicle_types': [0, 1]}, {'man_id': 32, 'title': 'Peugeot', 'vehicle_types': [0, 1, 2]}, {'man_id': 1209, 'title': 'Polestar', 'vehicle_types': [0]}, {'man_id': 54, 'title': 'Pontiac', 'vehicle_types': [0]}, {'man_id': 33, 'title': 'Porsche', 'vehicle_types': [0]}, {'man_id': 410, 'title': 'Proton', 'vehicle_types': [0]}, {'man_id': 34, 'title': 'Renault', 'vehicle_types': [0, 1]}, {'man_id': 786, 'title': 'Renault Samsung', 'vehicle_types': [0]}, {'man_id': 1399, 'title': 'Rivian', 'vehicle_types': [0, 1]}, {'man_id': 88, 'title': 'Roewe', 'vehicle_types': [0]}, {'man_id': 79, 'title': 'Rolls-Royce', 'vehicle_types': [0]}, {'man_id': 35, 'title': 'Rover', 'vehicle_types': [0]}, {'man_id': 36, 'title': 'Saab', 'vehicle_types': [0]}, {'man_id': 77, 'title': 'Saleen', 'vehicle_types': [0]}, {'man_id': 93, 'title': 'Saturn', 'vehicle_types': [0]}, {'man_id': 55, 'title': 'Scion', 'vehicle_types': [0]}, {'man_id': 37, 'title': 'Seat', 'vehicle_types': [0]}, {'man_id': 1323, 'title': 'Sena', 'vehicle_types': [0, 1]}, {'man_id': 38, 'title': 'Skoda', 'vehicle_types': [0]}, {'man_id': 1016, 'title': 'Skywell ', 'vehicle_types': [0]}, {'man_id': 424, 'title': 'Smart', 'vehicle_types': [0]}, {'man_id': 397, 'title': 'Soueast', 'vehicle_types': [0]}, {'man_id': 64, 'title': 'Ssangyong', 'vehicle_types': [0]}, {'man_id': 39, 'title': 'Subaru', 'vehicle_types': [0, 1]}, {'man_id': 1548, 'title': 'Sunbeam', 'vehicle_types': [0]}, {'man_id': 40, 'title': 'Suzuki', 'vehicle_types': [0, 1, 2]}, {'man_id': 1491, 'title': 'Tank', 'vehicle_types': [0]}, {'man_id': 92, 'title': 'Tata', 'vehicle_types': [0, 1]}, {'man_id': 155, 'title': 'Tesla', 'vehicle_types': [0, 2]}, {'man_id': 41, 'title': 'Toyota', 'vehicle_types': [0, 1]}, {'man_id': 95, 'title': 'UAZ', 'vehicle_types': [0, 1]}, {'man_id': 1639, 'title': 'Vanderhall', 'vehicle_types': [0, 2]}, {'man_id': 1379, 'title': 'Vauxhall', 'vehicle_types': [0]}, {'man_id': 44, 'title': 'VAZ', 'vehicle_types': [0]}, {'man_id': 42, 'title': 'Volkswagen', 'vehicle_types': [0, 1]}, {'man_id': 43, 'title': 'Volvo', 'vehicle_types': [0, 1]}, {'man_id': 481, 'title': 'Voyah', 'vehicle_types': [0]}, {'man_id': 1495, 'title': 'Wey', 'vehicle_types': [0]}, {'man_id': 1471, 'title': 'Wuling ', 'vehicle_types': [0, 1]}, {'man_id': 1241, 'title': 'Xiaomi', 'vehicle_types': [0]}, {'man_id': 158, 'title': 'Xingtai', 'vehicle_types': [0, 1]}, {'man_id': 497, 'title': 'Xpeng', 'vehicle_types': [0]}, {'man_id': 390, 'title': 'YTO', 'vehicle_types': [0, 1]}, {'man_id': 591, 'title': "Yuanxin Energy's", 'vehicle_types': [0]}, {'man_id': 97, 'title': 'ZAZ', 'vehicle_types': [0, 1]}, {'man_id': 477, 'title': 'Zeekr', 'vehicle_types': [0]}, {'man_id': 549, 'title': 'Zukida', 'vehicle_types': [0]}, {'man_id': 376, 'title': 'Zxauto', 'vehicle_types': [0]}]

In [ ]:
# cars with fuel type id = 2
df[df['fuel_type_id'] == 2]['model_id'].head()

1      94
3    6399
4    1109
5     613
7     659
Name: model_id, dtype: int64

In [ ]:
# import json

# # Load existing JSON
# with open("myauto_models.json", "r", encoding="utf-8") as f:
#     models = json.load(f)

# # Simplify mapping by removing man_id
# simplified_models = []
# for m in models:
#     simplified_models.append({
#         "model_id": m["model_id"],
#         "title": m["title"],
#         "group_title": m.get("group_title")  # Keep if exists
#     })

# # Save simplified JSON
# with open("myauto_models_simplified.json", "w", encoding="utf-8") as f:
#     json.dump(simplified_models, f, ensure_ascii=False, indent=2)

# print(f"Saved {len(simplified_models)} models to myauto_models_simplified.json")

In [ ]:
good_cols = [
    'car_id', 
    'prod_year',
    'man_id',
    'model_id',
    'price',
    'predicted_price',
    'pred_min_price',
    'pred_max_price',
    'fuel_type_id', 
    'gear_type_id', 
    'drive_type_id',
    'color_id',
    'cylinders',
    'car_run_km',
    'engine_volume',
    'abs', 
    'esd', 
    'el_windows', 
    'conditioner', 
    'leather',
    'hydraulics', 
    'chair_warming', 
    'climat_control',
    'customs_passed',
    'tech_inspection',
    'has_turbo',
    'right_wheel', 
    'vehicle_type', 
    'category_id',
    'views',
    'saloon_material_id',
    'start_stop',
    'back_camera',
    'user_type',  # 1= dealer, 2= private
    'comfort_features',
]

print(len(df[(df["predicted_price"] == 0) & (df["price"] != 0) ]))

for i in good_cols:
    vals = df[i].value_counts()
    # if len(vals) < 100:
    #     print(vals.to_dict())
    # else:
    print(vals)
    print("\n", "-"*50 , "\n")

3780
car_id
74874053    1
74441809    1
70881863    1
74199601    1
74442385    1
           ..
74764517    1
74764613    1
74764625    1
74764681    1
72592149    1
Name: count, Length: 61330, dtype: int64

 --------------------------------------------------

prod_year
2012    4298
2013    4184
2014    3883
2015    3480
2011    3265
        ...
1961       1
1964       1
1943       1
1956       1
1952       1
Name: count, Length: 75, dtype: int64

 --------------------------------------------------

man_id
25     8946
41     4768
65     3718
12     3025
3      2974
       ...
162       1
473       1
390       1
392       1
161       1
Name: count, Length: 168, dtype: int64

 --------------------------------------------------

model_id
0       22379
1089     1221
355      1112
336      1107
883      1037
        ...
1264        1
516         1
718         1
5582        1
1995        1
Name: count, Length: 1382, dtype: int64

 --------------------------------------------------

price
0        27653
3500       742
3000       658
4500       628
5500       611
         ...
16192        1
17028        1
17112        1
9695         1
23109        1
Name: count, Length: 2502, dtype: int64

 --------------------------------------------------

predicted_price
0.0        28381
16990.0      439
9576.0       285
10812.0      273
8649.0       241
           ...
22903.0        1
7386.0         1
10456.0        1
14101.0        1
36583.0        1
Name: count, Length: 5635, dtype: int64

 --------------------------------------------------

pred_min_price
9174.60     439
5171.04     285
5838.48     273
4670.46     241
5004.18     226
           ...
40192.74      1
20291.58      1
20539.44      1
34265.70      1
19754.82      1
Name: count, Length: 5291, dtype: int64

 --------------------------------------------------

pred_max_price
32620.80     439
18385.92     285
20759.04     273
16606.08     241
17792.64     226
            ...
142907.52      1
72147.84       1
73029.12       1
121833.60      1
70239.36       1
Name: count, Length: 5291, dtype: int64

 --------------------------------------------------

fuel_type_id
3     33796
2     21708
6      3312
8      1440
9       564
7       317
10      179
0         7
12        7
Name: count, dtype: int64

 --------------------------------------------------

gear_type_id
1    29356
2    18251
3     9475
0     2224
4     2024
Name: count, dtype: int64

 --------------------------------------------------

drive_type_id
0    22553
1    19878
3    10171
2     8728
Name: count, dtype: int64

 --------------------------------------------------

color_id
0     13706
1     13004
16     9225
12     6471
14     4468
13     3935
8      2839
5      2257
4      1910
3       802
11      681
9       670
2       471
7       419
6       294
21      111
18       67
Name: count, dtype: int64

 --------------------------------------------------

cylinders
4     25270
0     23868
6      7998
8      1802
3       763
5       612
1       428
12      232
2       211
10       59
7        52
9        18
11       17
Name: count, dtype: int64

 --------------------------------------------------

car_run_km
0         9355
200000     809
999000     552
150000     453
180000     415
          ...
264442       1
365765       1
136320       1
786700       1
242771       1
Name: count, Length: 11523, dtype: int64

 --------------------------------------------------

engine_volume
0        24390
2000      5196
2500      3603
1800      3202
1500      2553
         ...
2495         1
5462         1
3199         1
2777         1
11300        1
Name: count, Length: 243, dtype: int64

 --------------------------------------------------

abs
True     25213
False    23939
False     7405
True      4772
0            1
Name: count, dtype: int64

 --------------------------------------------------

esd
False    26897
True     22255
False     8118
True      4059
0            1
Name: count, dtype: int64

 --------------------------------------------------

el_windows
True     24876
False    24276
False     7474
True      4703
0            1
Name: count, dtype: int64

 --------------------------------------------------

conditioner
False    25186
True     23966
False     7704
True      4473
0            1
Name: count, dtype: int64

 --------------------------------------------------

leather
False    46633
False    12177
True      2519
0            1
Name: count, dtype: int64

 --------------------------------------------------

hydraulics
True     25433
False    23719
False     7362
True      4815
0            1
Name: count, dtype: int64

 --------------------------------------------------

chair_warming
False    33820
True     15332
False     9496
True      2681
0            1
Name: count, dtype: int64

 --------------------------------------------------

climat_control
False    28194
True     20958
False     8377
True      3800
0            1
Name: count, dtype: int64

 --------------------------------------------------

customs_passed
False    30012
True     19140
False     8098
True      4079
0            1
Name: count, dtype: int64

 --------------------------------------------------

tech_inspection
False    26332
True     22820
False     7320
True      4857
2            1
Name: count, dtype: int64

 --------------------------------------------------

has_turbo
False    44562
False    11105
True      4590
True      1072
1            1
Name: count, dtype: int64

 --------------------------------------------------

right_wheel
False    45339
False    11414
True      3813
True       763
0            1
Name: count, dtype: int64

 --------------------------------------------------

vehicle_type
0    32934
1    28396
Name: count, dtype: int64

 --------------------------------------------------

category_id
1     14088
5      7394
2      6084
36     4328
16     3916
23     3560
27     3485
38     2615
25     2447
4      1300
42     1286
19     1104
7      1042
30      934
20      931
13      925
3       904
45      795
50      668
28      610
26      536
14      473
44      333
43      310
37      257
48      219
40      181
39      161
6       142
35      123
29      113
24       36
49       10
53        9
15        8
41        3
Name: count, dtype: int64

 --------------------------------------------------

views
0.0       9572
1.0       5147
2.0       3423
3.0       2335
4.0       1657
          ...
2227.0       1
4130.0       1
1373.0       1
1129.0       1
1560.0       1
Name: count, Length: 2750, dtype: int64

 --------------------------------------------------

saloon_material_id
0    30921
2    15077
1    12622
5     1628
4      929
3      153
Name: count, dtype: int64

 --------------------------------------------------

start_stop
False    48044
False    11995
True      1108
True       182
0            1
Name: count, dtype: int64

 --------------------------------------------------

back_camera
False    35141
True     14011
False     9821
True      2356
0            1
Name: count, dtype: int64

 --------------------------------------------------

user_type
1    34196
0    27133
2        1
Name: count, dtype: int64

 --------------------------------------------------

comfort_features
[]                                                                                                            29572
[6, 44, 11, 20, 12, 30, 31, 7, 8, 38, 28, 29, 9, 10, 23, 13, 15, 26, 36, 39, 41, 43, 45]                       2971
[6, 44, 11, 20, 12, 30, 31, 7, 8, 38, 28, 29, 9, 10, 23, 53]                                                   2519
[6, 44, 11, 20, 12, 30, 31, 7, 8, 38, 28, 29, 9, 10, 47, 23, 13, 15, 26, 36, 39, 41, 43, 45]                   1120
[6, 44, 11, 12, 30, 31, 7, 8, 38, 28, 29, 9, 10, 23, 13, 15, 26, 36, 39, 41, 43, 45]                            648
                                                                                                              ...
[20, 12, 30, 31, 38, 28, 29, 23, 13, 36, 39]                                                                      1
[6, 11, 12, 30, 31, 7, 38, 28, 29, 9, 10, 15, 6, 7, 9, 10, 11, 12, 15, 28, 29, 30, 31, 36, 38, 39, 41, 45]        1
[6, 44, 11, 12, 30, 31, 7, 8, 38, 28, 29, 9, 10, 13, 15, 36, 41, 43, 45]                                          1
[6, 11, 12, 8, 36, 43, 45]                                                                                        1
[6, 44, 11, 30, 31, 8, 28, 9, 13, 26, 36, 39, 41, 43, 45]                                                         1
Name: count, Length: 11291, dtype: int64

 --------------------------------------------------

In [7]:
#df['user_type'].value_counts()
df['vehicle_type'].value_counts()

vehicle_type
0    32934
1    28396
Name: count, dtype: int64